.form-item {
  &__input-password {
    height: 100%;
    width: 290px;
    background-color: transparent;
    border-style: none;
    border: 0.3px solid #111c5a;
    border-radius: 10px;
    outline: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    padding-left: 40px;
    &#password {
      background-image: url("../../assets/images/icons/password.svg");
      background-position: 15px;
      background-repeat: no-repeat;
    }
    &#confirm {
      background-image: url("../../assets/images/icons/confirm.svg");
      background-position: 15px;
      background-repeat: no-repeat;
    }
  }
}

.view {
  position: absolute;
  width: 20px;
  height: 12.25px;
  border-style: none;
  background-color: transparent;
  right: 10px;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("../../assets/images/icons/view-password.svg");
}
